*{
    font-family: sans-serif;
}

html{
    background: #7ab49d
}

body{
    text-align: center;
    font-size: 20px;
}

h1{
   padding: 2%;
}

h3{
    color: red;
    font-size: 20px;
}

button{
    width: 100px;
    font-size: 20px;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
    border-style: solid;
    border-style: none;
}

button:hover{
    opacity: +4;
}

button[id=button-rec]{
    width: auto;
}

input{
    height: 20px;
    border-style: solid;
    border-radius: 10px;
    border-style: none;
}

input[id=new-password]{
    margin-right: 63px;
}

input[id=new-password]{
    margin-right: 63px;
}

input[id=repeat-new-password]{
    margin-right: 149px;
}