*{
    font-family: sans-serif;
}

body{
    text-align: center;
    font-size: 20px;
}

h1{
   margin: 50px;
}

button{
    width: auto;;
    font-size: 20px;
    border-width: 1px;
    cursor: pointer;
    border-style: solid;
    border-color: black;
}

button:hover{
    opacity: +4;
}

input[id=new-password]{
    margin-right: 63px;
}

input[id=repeat-new-password]{
    margin-right: 150px;
}